:root {
	--primary: rgb(4, 82, 98);
	--secondary: rgb(8, 121, 144);
	--complementary: rgb(248, 249, 250, 0.25);

	/* Colores de las etiquetas */
	--derivado: rgb(18, 161, 0, 0.7);
	--improcedente: rgb(247, 241, 241);
	--cerrado: rgb(8, 121, 144, 0.7);
	--pendiente: rgb(226, 166, 0, 0.7);
	--cancelado: rgb(182, 188, 192);
	--asignado: rgb(24, 155, 173);
	--en_revision: rgb(100, 45, 113);
	--por_corregir: rgb(132, 131, 131);
	--corregido: rgb(18 1, 121, 143);
	--aprobado: rgb(15, 109, 64);
	--pendiente_ayudantia: rgb(0, 161, 132);
	--entregado: rgb(68, 100, 182);
	--archivado: rgb(226, 81, 0, 0.7);
	--activo: rgb(105, 135, 181);
	--inactivo: rgb(92, 92, 92);
	--vencido: rgb(166, 16, 30);
	--urgente: rgb(220, 53, 69);
	--en_proceso: rgb(80, 157, 20, 0.7);

	--bs-blue: #0d6efd;
	--bs-indigo: #6610f2;
	--bs-purple: #6f42c1;
	--bs-pink: #d63384;
	--bs-red: #dc3545;
	--bs-orange: #fd7e14;
	--bs-yellow: #ffc107;
	--bs-green: #198754;
	--bs-teal: #20c997;
	--bs-cyan: #0dcaf0;
	--bs-black: #000;
	--bs-white: #fff;
	--bs-gray: #6c757d;
	--bs-gray-dark: #343a40;
	--bs-gray-100: #f8f9fa;
	--bs-gray-200: #e9ecef;
	--bs-gray-300: #dee2e6;
	--bs-gray-400: #ced4da;
	--bs-gray-500: #adb5bd;
	--bs-gray-600: #6c757d;
	--bs-gray-700: #495057;
	--bs-gray-800: #343a40;
	--bs-gray-900: #212529;
	--bs-primary: var(--primary);
	--bs-secondary: var(--secondary);
	--bs-success: #198754;
	--bs-info: #0dcaf0;
	--bs-warning: #ffc107;
	--bs-danger: #dc3545;
	--bs-light: #f8f9fa;
	--bs-dark: #212529;
	--bs-primary-rgb: 4, 82, 98;
	--bs-secondary-rgb: 8, 121, 144;
	--bs-success-rgb: 25, 135, 84;
	--bs-info-rgb: 13, 202, 240;
	--bs-warning-rgb: 255, 193, 7;
	--bs-danger-rgb: 220, 53, 69;
	--bs-light-rgb: 248, 249, 250;
	--bs-dark-rgb: 33, 37, 41;
	--bs-primary-text-emphasis: #052c65;
	--bs-secondary-text-emphasis: #2b2f32;
	--bs-success-text-emphasis: #0a3622;
	--bs-info-text-emphasis: #055160;
	--bs-warning-text-emphasis: #664d03;
	--bs-danger-text-emphasis: #58151c;
	--bs-light-text-emphasis: #495057;
	--bs-dark-text-emphasis: #495057;
	--bs-primary-bg-subtle: #cfe2ff;
	--bs-secondary-bg-subtle: #e2e3e5;
	--bs-success-bg-subtle: #d1e7dd;
	--bs-info-bg-subtle: #cff4fc;
	--bs-warning-bg-subtle: #fff3cd;
	--bs-danger-bg-subtle: #f8d7da;
	--bs-light-bg-subtle: #fcfcfd;
	--bs-dark-bg-subtle: #ced4da;
	--bs-primary-border-subtle: #9ec5fe;
	--bs-secondary-border-subtle: #c4c8cb;
	--bs-success-border-subtle: #a3cfbb;
	--bs-info-border-subtle: #9eeaf9;
	--bs-warning-border-subtle: #ffe69c;
	--bs-danger-border-subtle: #f1aeb5;
	--bs-light-border-subtle: #e9ecef;
	--bs-dark-border-subtle: #adb5bd;
	--bs-white-rgb: 255, 255, 255;
	--bs-black-rgb: 0, 0, 0;
	--bs-font-sans-serif: system-ui, -apple-system, 'Segoe UI', Roboto,
		'Helvetica Neue', 'Noto Sans', 'Liberation Sans', Arial, sans-serif,
		'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
		'Noto Color Emoji';
	--bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
		'Liberation Mono', 'Courier New', monospace;
	--bs-gradient: linear-gradient(
		180deg,
		rgba(255, 255, 255, 0.15),
		rgba(255, 255, 255, 0)
	);
	--bs-body-font-family: var(--bs-font-sans-serif);
	--bs-body-font-size: 1rem;
	--bs-body-font-weight: 400;
	--bs-body-line-height: 1.5;
	--bs-body-color: #212529;
	--bs-body-color-rgb: 33, 37, 41;
	--bs-body-bg: white;
	--bs-body-bg-rgb: 255, 255, 255;
	--bs-emphasis-color: #000;
	--bs-emphasis-color-rgb: 0, 0, 0;
	--bs-secondary-color: rgba(33, 37, 41, 0.75);
	--bs-secondary-color-rgb: 33, 37, 41;
	--bs-secondary-bg: #e9ecef;
	--bs-secondary-bg-rgb: 233, 236, 239;
	--bs-tertiary-color: rgba(33, 37, 41, 0.5);
	--bs-tertiary-color-rgb: 33, 37, 41;
	--bs-tertiary-bg: #f8f9fa;
	--bs-tertiary-bg-rgb: 248, 249, 250;
	--bs-heading-color: inherit;
	--bs-link-color: #0d6efd;
	--bs-link-color-rgb: 13, 110, 253;
	--bs-link-decoration: underline;
	--bs-link-hover-color: #0a58ca;
	--bs-link-hover-color-rgb: 10, 88, 202;
	--bs-code-color: #d63384;
	--bs-highlight-bg: #fff3cd;
	--bs-border-width: 1px;
	--bs-border-style: solid;
	--bs-border-color: #dee2e6;
	--bs-border-color-translucent: rgba(0, 0, 0, 0.175);
	--bs-border-radius: 0.375rem;
	--bs-border-radius-sm: 0.25rem;
	--bs-border-radius-lg: 0.5rem;
	--bs-border-radius-xl: 1rem;
	--bs-border-radius-xxl: 2rem;
	--bs-border-radius-2xl: var(--bs-border-radius-xxl);
	--bs-border-radius-pill: 50rem;
	--bs-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
	--bs-box-shadow-sm: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
	--bs-box-shadow-lg: 0 1rem 3rem rgba(0, 0, 0, 0.175);
	--bs-box-shadow-inset: inset 0 1px 2px rgba(0, 0, 0, 0.075);
	--bs-focus-ring-width: 0.25rem;
	--bs-focus-ring-opacity: 0.25;
	--bs-focus-ring-color: rgba(13, 110, 253, 0.25);
	--bs-form-valid-color: #198754;
	--bs-form-valid-border-color: #198754;
	--bs-form-invalid-color: #dc3545;
	--bs-form-invalid-border-color: #dc3545;
	--bs-pagination-active-bg: var(--primary) !important;
}

.table {
	--bs-table-striped-bg: rgba(248, 249, 250, 70);
	--bs-table-hover-bg: rgba(8, 121, 144, 0.15);
	--bs-table-border-color: rgba(248, 249, 250, 70);
}

h1 {
	font-weight: bold;
	font-size: 28px;
	color: var(--secondary);
}

h2 {
	font-weight: bold;
	font-size: 24px;
	color: var(--primary);
}

h3 {
	font-weight: 600;
	font-size: 16px;
	color: #212529;
}

h4 {
	font-weight: normal;
	font-size: 14px;
	color: #212529;
}

.btn-primary {
	--bs-btn-color: #fff;
	--bs-btn-bg: var(--primary);
	--bs-btn-border-color: var(--primary);
	--bs-btn-hover-color: #fff;
	--bs-btn-hover-bg: var(--secondary);
	--bs-btn-hover-border-color: var(--secondary);
	--bs-btn-focus-shadow-rgb: 49, 132, 253;
	--bs-btn-active-color: #fff;
	--bs-btn-active-bg: var(--primary);
	--bs-btn-active-border-color: var(--primary);
	--bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
	--bs-btn-disabled-color: #fff;
	--bs-btn-disabled-bg: var(--primary);
	--bs-btn-disabled-border-color: var(--primary);
}

.btn-complementary {
	--bs-btn-color: #fff;
	--bs-btn-bg: var(--complementary);
	--bs-btn-border-color: var(--complementary);
	--bs-btn-hover-color: #fff;
	--bs-btn-hover-bg: var(--complementary);
	--bs-btn-hover-border-color: var(--complementary);
	--bs-btn-focus-shadow-rgb: 49, 132, 253;
	--bs-btn-active-color: #fff;
	--bs-btn-active-bg: var(--complementary);
	--bs-btn-active-border-color: var(--complementary);
	--bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
	--bs-btn-disabled-color: #fff;
	--bs-btn-disabled-bg: var(--complementary);
	--bs-btn-disabled-border-color: var(--complementary);
}
.btn-secondary {
	--bs-btn-color: #fff;
	--bs-btn-bg: var(--secondary);
	--bs-btn-border-color: var(--secondary);
	--bs-btn-hover-color: #fff;
	--bs-btn-hover-bg: var(--primary);
	--bs-btn-hover-border-color: var(--primary);
	--bs-btn-focus-shadow-rgb: 49, 132, 253;
	--bs-btn-active-color: #fff;
	--bs-btn-active-bg: var(--secondary);
	--bs-btn-active-border-color: var(--secondary);
	--bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
	--bs-btn-disabled-color: #fff;
	--bs-btn-disabled-bg: var(--secondary);
	--bs-btn-disabled-border-color: var(--secondary);
}

.btn-outline-secondary {
	--bs-btn-color: var(--secondary);
	--bs-btn-border-color: var(--secondary);
	--bs-btn-hover-color: #fff;
	--bs-btn-hover-bg: var(--primary);
	--bs-btn-hover-border-color: var(--primary);
	--bs-btn-focus-shadow-rgb: 13, 110, 253;
	--bs-btn-active-color: #fff;
	--bs-btn-active-bg: var(--secondary);
	--bs-btn-active-border-color: var(--secondary);
	--bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
	--bs-btn-disabled-color: var(--secondary);
	--bs-btn-disabled-bg: transparent;
	--bs-btn-disabled-border-color: var(--secondary);
	--bs-gradient: none;
}
.btn-outline-primary {
	--bs-btn-color: var(--primary);
	--bs-btn-border-color: var(--primary);
	--bs-btn-hover-color: #fff;
	--bs-btn-hover-bg: var(--secondary);
	--bs-btn-hover-border-color: var(--secondary);
	--bs-btn-focus-shadow-rgb: 13, 110, 253;
	--bs-btn-active-color: #fff;
	--bs-btn-active-bg: var(--primary);
	--bs-btn-active-border-color: var(--primary);
	--bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
	--bs-btn-disabled-color: var(--primary);
	--bs-btn-disabled-bg: transparent;
	--bs-btn-disabled-border-color: var(--primary);
	--bs-gradient: none;
}

.btn_tetters {
	background-color: transparent;
	border-color: transparent;
	color: var(--secondary);
	font-weight: 500;
	font-size: larger;
	--bs-btn-hover-color: none;
	--bs-btn-hover-bg: none;
	--bs-btn-hover-border-color: #fff;
	--bs-btn-active-bg: transparent;
	--bs-btn-color: var(--secondary);
	--bs-btn-border-color: none;
	--bs-btn-hover-color: var(--primary);
	--bs-btn-active-border-color: transparent;
	--bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
	--bs-btn-disabled-color: var(--primary);
	--bs-btn-disabled-bg: transparent;
}

.border-primary {
	border-color: var(--primary) !important;
}
.border-secondary {
	border-color: var(--secondary) !important;
}

.txt-primary {
	color: var(--primary) !important;
}

.txt-secondary {
	color: var(--secondary) !important;
}

body {
	background-color: #f4f4f4;
}

.active > .page-link,
.page-link.active {
	background-color: var(--primary);
	border-color: var(--primary);
}

.page-link {
	color: var(--secondary);
}

/* .card {
	--bs-card-spacer-y: none;
	--bs-card-spacer-x: none;
} */

.nav {
	--bs-nav-link-padding-y: 1rem;
}

.accordion {
	--bs-accordion-color: var(--bs-body-color);
	--bs-accordion-bg: var(--bs-body-bg);
	--bs-accordion-transition: color 0.15s ease-in-out,
		background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
		box-shadow 0.15s ease-in-out, border-radius 0.15s ease;
	--bs-accordion-border-color: var(--bs-border-color);
	--bs-accordion-border-width: 0;
	--bs-accordion-border-radius: var(--bs-border-radius);
	--bs-accordion-inner-border-radius: calc(
		var(--bs-border-radius) - (var(--bs-border-width))
	);
	--bs-accordion-btn-padding-x: 1.25rem;
	--bs-accordion-btn-padding-y: 1rem;
	--bs-accordion-btn-color: var(--bs-body-color);
	--bs-accordion-btn-bg: var(--bs-accordion-bg);
	--bs-accordion-btn-icon-width: 1.25rem;
	--bs-accordion-btn-icon-transform: rotate(-180deg);
	--bs-accordion-btn-icon-transition: transform 0.2s ease-in-out;
	--bs-accordion-btn-focus-border-color: #86b7fe;
	--bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
	--bs-accordion-body-padding-x: 1.25rem;
	--bs-accordion-body-padding-y: 1rem;
	--bs-accordion-active-color: var(--bs-primary-text-emphasis);
	--bs-accordion-active-bg: none;
}

.bg-aprobar-areas {
	background-color: rgba(15, 109, 64, 1);
	border-color: rgba(15, 109, 64, 1);
}
.custom-table-border {
	border: 1px solid black;
}

.cursor-pointer {
	cursor: pointer;
}

.form-check-input[type='checkbox'] {
	border-radius: 0.25em;
	border: 1px solid #848383;
}

.form-switch .form-check-input {
	--bs-form-switch-bg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3E%3Ccircle r='3' fill='rgba(0,0,0,0.25)' /%3E%3C/svg%3E");
	width: 2em;
	margin-left: -2.5em;
	background-image: var(--bs-form-switch-bg);
	background-position: left center;
	border-radius: 2em;
	transition: background-position 0.15s ease-in-out;
	border: 1px solid #848383;
}

.mi-tabla {
	--bs-table-bg: rgb(255, 178, 178, 0.5) !important; /* El color que desees */
	--bs-table-striped-bg: none;
	--bs-table-hover-bg: none;
	--bs-table-border-color: none;
}
